<h1>{{ event.event_name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if event.repinned %}<p><strong>Warning ! Event repinned.</strong></p>{% endif %}

<ul>
  <li><b>Description : </b>{{ event.description }}</li>
  <li><b>Why ? : </b>{{ event.why }}</li>
  <li><b>Status : </b>{{ event.status }}</li>
  <li><b>Organizing group : </b><a href="{% url 'group_detail' event.group_id %}">{{ org_group.group_name }}</a></li>
  <li><b>Duration : </b>{{ duration }} hours</li>
  <li><b>Date and time : </b>{{ event.time }} hours</li>
  <li><b>Venue : </b><a href="{% url 'venue_detail' event.venue_id %}">{{ venue.venue_name }}</a></li>
  <li><b>How to find us : </b>{{ event.how_to_find_us }}</li>
  <li><b>Rating : </b>{{ event.rating_average }} /5 ({{ evant.rating_count }} votes)</li>
</ul>

<h2>RSVP</h2>
<ul>
  <li><b>"Yes" answers : </b>{{ event.yes_rsvp_count }} {% if event.rsvp_limit != -1 %} ({{ event.rsvp_limit }}){% endif %}</li>
  <li><b>"Maybe" answers : </b>{{ event.maybe_rsvp_count }}</li>
  <li><b>Waiting answers : </b>{{ event.waitlist_count }}</li>
  <li><b>Headcount : </b>{{ event.headcount }}</li>
</ul>

{% if event.fee_required %}
<h2>Fee</h2>
<ul> 
  <li><b>Required amount : </b>{{ event.fee_amount }} ({{ event.fee_accepts }})</li>
</ul>
{% endif %}
