{% if visible or user_id == org_id %}
<h1>{{ event.event_name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if event.repinned  %}<font color="red" size=5>Warning ! Event repinned.</font>{% endif %}

{% if user_id == org_id %}
<h2 align="right"><input type="button" value="Modify event" onclick=window.location.href="{% url 'event_modif' user_id event.event_id %}"></input></h2>
{% endif %}

<ul>
  <li><b>Description : </b>{{ event.description }}</li>
  <li><b>Why ? : </b>{{ event.why }}</li>
  <li><b>Organizing group : </b><a href="{% url 'group_detail' user_id event.group_id %}">{{ org_group.group_name }}</a></li>
  <li><b>Duration : </b>{{ duration }} hours</li>
  <li><b>Date and time : </b>{{ event.event_time }}</li>
  <li><b>Venue : </b><a href="{% url 'venue_detail' user_id event.venue_id %}">{{ venue.venue_name }}</a></li>
  <li><b>How to find us : </b>{{ event.how_to_find_us }}</li>
  <li><b>Rating : </b>{{ event.rating_average }} /5 ({{ rating_count }} votes)</li>
</ul>

<h2>RSVP</h2>
<ul>
  <li><b>"Yes" answers : </b>{{ event.yes_rsvp_count }} {% if event.rsvp_limit != -1 %} (max : {{ event.rsvp_limit }}){% endif %}</li>
  <li><b>"Maybe" answers : </b>{{ event.maybe_rsvp_count }}</li>
  <li><b>Waiting answers : </b>{{ event.waitlist_count }}</li>
  <li><b>Headcount : </b>{{ event.headcount }}</li>
</ul>
{% if not past %}
<form action="{% url 'event_join' user_id event.event_id %}" method="post">
{% csrf_token %}
    <input type="radio" name="yes" id="yes" value=1 />
    <label for="yes">Yes !</label><br />
    <input type="radio" name="yes" id="maybe" value=0 />
    <label for="maybe">Maybe</label><br />
<input type="submit" value="Join" />
</form>
{% endif %}

{% if event.fee_required %}
<h2>Fee</h2>
<ul> 
  <li><b>Required amount : </b>${{ event.fee_amount }} ({{ event.fee_accepts }})</li>
</ul>
{% endif %}
{% if past %}
<h2>Vote for that event :</h2>
<form action="{% url 'event_vote' user_id event.event_id %}" method="post">
{% csrf_token %}
{% for choice in votes %}
    <input type="radio" name="choice" id="rating{{ choice }}" value="{{ choice }}"/>
    <label for="rating{{ choice }}">{{ choice }}</label>
{% endfor %}
<input type="submit" value="Vote" />
</form>
{% endif %}

<h2 align="right"><input type="button" value="Menu" onclick=window.location.href="{% url 'user_index' user_id %}"></input></h2>
{% else %}
You are not allowed to see this event
{% endif %}
