<h1>{{ member.member_name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if user_id == member.member_id %}
<h2 align="right"><input type="button" value="Modify profile" onclick=window.location.href="{% url 'member_modif' user_id user_id %}"></input></h2>
<h2 align="right"><input type="button" value="Delete profile" onclick=window.location.href="{% url 'member_delete' user_id user_id %}"></input></h2>
{% endif %}

<ul>
  <li><b>Biography : </b>{{ member.bio }}</li>
  <li><b>City : </b><a href="{% url 'city_detail' user_id member.city_name %}">{{ member.city_name }}</a></li>
  <li><b>Status : </b>{{ member.member_status }}</li>
  <li><b>Join date : </b>{{ member.joined }}</li>
  <li><b>Last connection : </b>{{ member.visited }}</li>
  <li><b>Followed topics : </b>
    <ul>{% for topic in topics %}
    <li><a href="{% url 'topic_detail' user_id topic.topic_id %}">{{ topic.topic_name }}</a></li>
    {% endfor %}</ul></li>

{% if user_id == member.member_id %}
<h2 align="center"><input type="button" value="Change followed topics" onclick=window.location.href="{% url 'member_select' user_id user_id %}"></input></h2>
{% endif %}
  
  <li><b>Joined groups : </b>
    <ul>{% for group in groups %}
    <li><a href="{% url 'group_detail' user_id group.group_id %}">{{ group.group_name }}</a>{% if member.member_id == group.organizer_id %} &#128081;{% endif %}</li>
    {% endfor %}</ul></li>
</ul>
{% if member.member_id == user_id %}
<h2 align="center"><input type="button" value="Create a group" onclick=window.location.href="{% url 'group_create' user_id user_id %}"></input></h2>
{% endif %}

<h2 align="right"><input type="button" value="Menu" onclick=window.location.href="{% url 'user_index' user_id %}"></input></h2>
