<h2> Here you can modify your profile </h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'member_modification' user_id user_id %}" method="post">
{% csrf_token %}
    
    <b>Name : </b><input type="text" name="name" id="name" value="{{ name }}" placeholder="{{member.member_name }}" />
    <br/><b>Biography : </b><input type="text" name="bio" id ="bio" value="{{ bio }}" placeholder="{{ member.bio }}" size="100" />


    <br/><b>Home city :</b><br/>
    {% for city in cities %}
    <input type="radio" name="city_name" id="city{{ forloop.counter }}" value="{{ city.city_name }}"/>
    <label for="city{{ forloop.counter }}">{% if city.city_name == member.city_name %}<b>{{ city.city_name }}</b>{% else %}{{ city.city_name }}{% endif %}</label><br />
{% endfor %}
<br/><input type="submit" value="Save" />
</form>
