<h1>{{ topic.topic_name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
  <li><b>Description : </b>{{ topic.description }}</li>
  {% if have_parent %}
    <li><b>Parent topic : </b><a href="{% url 'topic_detail' user_id topic.parent_topic_id %}">{{ parent_topic.topic_name }}</a></li>
  {% else %}
    <li><b>No parent topic</b></li>
  {% endif %}
  <li><b>Gathering : </b>{{ group_count }} <a href="{% url 'group_index' user_id 'topic' topic.topic_id %}"> Groups</a></li>
  <li><b>Followers : </b>{{ member_count }} <a href="{% url 'member_index' user_id 'topic' topic.topic_id 1 %}">Members</a></li>
  <li><a href="{% url 'event_index' user_id 'topic' topic.topic_id now %}"><b>Coming events</b></a></li>
  <li><a href="{% url 'event_index' user_id 'topic' topic.topic_id prev %}"><b>Past events</b></a></li>
</ul>

{% if follows == 1 %}
<h2>You follow that topic</h2>
<form action="{% url 'topic_follow' user_id topic.topic_id follows %}" method="post">
{% csrf_token %}
<input type="submit" value="Unfollow" />
</form>
{% else %}
<h2>You don't follow that topic</h2>
<form action="{% url 'topic_follow' user_id topic.topic_id follows %}" method="post">
{% csrf_token %}
<input type="submit" value="Follow" />
</form>
{% endif %}

<h2 align="right"><input type="button" value="Menu" onclick=window.location.href="{% url 'user_index' user_id %}"></input></h2>
